.search-bar {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-type-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: #000;
    font-weight: bold;
}

.search-type-button.active {
    background-color: #0042ff;
    color: white;
}

.search-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input,
.country-select,
.search-button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-input {
    width: 175px;
}

.search-button {
    background-color: #ff6a00;
    color: white;
    cursor: pointer;
}

.results-section {
    margin-top: 20px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.results-table th,
.results-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.results-table th {
    background-color: #0042ff;
    color: white;
}
